<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="well">
        <img src="https://s3.us-east-2.amazonaws.com/xebec-test/logo.png" height="60" width="60" alt="logo"/>
        Angular Store
      </h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
