<div>
  <p class="text-info">
    Welcome to the Angular Store.<br />
    Please select the products you want and add them to your shopping cart.<br />
    When you are done, click the shopping cart icon to review your order and check out.
  </p>
  <div>
    <p>Search: <input type="text" [(ngModel)]="search"></p>
  </div>
  <div>
    <table class="table table-bordered">
      <tr class="well">
        <td class="tdRight" colspan="4" >
          <a routerLink="/shopping-cart">
            <i class="icon-shopping-cart"> </i>
             <b> {{count}}</b> items, <b>{{total | currency}}</b>
          </a>
        </td>
      </tr>
        <tr class="productList" *ngFor="let p of products | nameFilter: search">
          <td><img src="{{p.img}}" alt="{{p.name}}"></td>
          <td>
            <a [routerLink]="['/product-detail', p.id]"><b>{{p.name}}</b></a>
            <br/>
            {{p.description}}
          </td>
          <td>{{p.price | currency}}</td>
          <td><a href="" (click)="addItem(p.id)">add to cart</a></td>
        </tr>
      <tr class="well">
        <td class="tdRight" colspan="4" >
          <a routerLink="/shopping-cart">
            <i class="icon-shopping-cart"> </i>
            <b> {{count}}</b> items, <b>{{total | currency}}</b>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
