<p class="text-info">
  <img src="{{product.img}}" alt="{{product.name}}">
  {{product.name}}: {{product.description}}<br/>
</p>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <table class="table table-bordered">
        <tr class="well">
          <td class="tdRight" colspan="3">
            <a routerLink="/shopping-cart" title="go to shopping cart">
              <i class="fa fa-shopping-cart"></i>
              <b> {{count}}</b> items, <b>{{price | currency}}</b>
              <span [hidden]="!inCart">
                <br/>
                this item is in the cart
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tdRight"><b>Calories</b></td>
          <td class="tdCenter"><h2>{{product.cal}}</h2></td>
        </tr>
        <tr *ngFor="let nutrient of product.nutrients | keyvalue">
          <td class="tdRight"><b>{{nutrient.key}}</b></td>
          <td class="tdCenter"><img src="https://s3.us-east-2.amazonaws.com/xebec-test/r{{nutrient.value}}.png" alt="{{nutrient.value}}"></td>
          <td>
            <b>{{caption[nutrient.value]}}</b>:
            {{range[nutrient.value]}} of the recommended daily value.
          </td>
        </tr>
        <tr class="well">
          <td class="tdRight" colspan="3">
            <a routerLink="/shopping-cart" title="go to shopping cart">
              <i class="fa fa-shopping-cart"></i>
              <b> {{count}}</b> items, <b>{{price | currency}}</b>
              <span [hidden]="!inCart">
                <br/>
                this item is in the cart
              </span>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="span4">
      <button
        class="btn btn-block btn-success"
        (click)="addItem()">
        <i class="icon-shopping-cart icon-white"></i> add to cart
      </button>
      <button
        class="btn btn-block btn-danger"
        (click)="removeItem()">
        <i class="icon-trash icon-white"></i> remove from cart
      </button>
      <button
        class="btn btn-block" routerLink="/">
        <i class="icon-chevron-left"></i> back to store
      </button>
    </div>
  </div>
</div>
