<p class="text-info">
  Thanks for shopping at the Angular Store.<br />
  This is your shopping cart. Here you can edit the items,
  go back to the store, clear the cart, or check out.
</p>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">

      <!-- items -->
      <table class="table table-bordered">
        <tr class="well">
          <td><b>Item</b></td>
          <td class="tdCenter"><b>Quantity</b></td>
          <td class="tdRight"><b>Price</b></td>
        </tr>
        <tr [hidden]="totalCount > 0">
          <td class="tdCenter" colspan="4">
            Your cart is empty
          </td>
        </tr>

        <tr *ngFor="let item of items">
          <td>{{item.name}}</td>
          <td class="tdCenter">
            <div class="input-append">
              <input
                class="span3 text-center" type="number"
                [(ngModel)]="item.quantity"
                (change)="saveItems(item.id, item.quantity)" />
              <button
                class="btn btn-success" type="button"
                [disabled]="item.quantity >= 1000"
                (click)="addItem(item.id, item.name, item.price, 1)">
                +</button>
              <button
                class="btn btn-inverse" type="button"
                [disabled]="item.quantity <= 1"
                (click)="addItem(item.id, item.name, item.price, -1)">
                -</button>
            </div>
          </td>
          <td class="tdRight">{{item.price * item.quantity | currency}}</td>
          <td class="tdCenter" title="remove from cart">
            <a (click)="removeItem(item.id)">
            <i class="icon-remove"></i></a>
          </td>
        </tr>

        <tr class="well">
          <td><b>Total</b></td>
          <td class="tdCenter"><b>{{totalCount}}</b></td>
          <td class="tdRight"><b>{{totalPrice | currency}}</b></td>
        </tr>
      </table>

    </div>
    <p>{{msg}}</p>
    <div class="span4">
      <p class="text-info">
        <button class="btn btn-block" routerLink="/">
          <i class="icon-chevron-left"></i> back to store
        </button>
        <button class="btn btn-block btn-danger" (click)="clearCart()">
          <i class="icon-trash icon-white"></i> clear cart
        </button>
      </p>

      <br /><br />

      <p class="text-info">
        <button class="btn btn-block btn-primary">
          <i class="icon-ok icon-white"></i> check out using PayPal
        </button>
        <button class="btn btn-block btn-primary">
          <i class="icon-ok icon-white"></i> check out using Google
        </button>
        <button class="btn btn-block btn-primary">
          <i class="icon-ok icon-white"></i> check out using Stripe
        </button>
      </p>
      <form class="form-stripe"></form>
      <br /><br />

      <p class="text-info">
        <button class="btn btn-block btn-link">
          <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
        </button>
      </p>
    </div>
  </div>
</div>
