/* You can add global styles to this file, and also import other style files */
.table td.tdRight {
  text-align: right;
}
.table td.tdCenter {
  text-align: center;
}
.table-nonfluid {
  width: auto;
}
